name: Playwright Tests

on:
    push:
        branches:
        - main
    # pull_request:
    #     branches:
    #     - main

jobs:
    test:
        runs-on: ubuntu-latest

        env:
            BASE_URL: ${{ secrets.BASE_URL }}
            HEADLESS: true
            TIMEOUT: true

        steps:
        - uses: actions/checkout@v4

        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
              node-version: '20'
              cache: 'npm'

        - name: Install deps & browsers
          run: |
            npm ci
            npx playwright install --with-deps

        - name: Run Playwright tests
          run: npx playwright test --reporter=html

        - name: Upload Playwright report
          if: always()
          uses: actions/upload-artifact@v4
          with:
              name: playwright-report
              path: playwright-report